*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

body {
  width: 100vw;
  background-color: #1b1b1b;
}

button {
  border: 0;
}

ul {
  padding: 0;
}
